In [2]:
import pandas as pd
import numpy as np

#  Olympic data set analysis

Often people wonder if how a country performs is related to its, Economic status. it isbelived that people from more economically adept places have a better chance at plaacing at the games. people also wonder if hosting an olypmic games provides a siginficant boost to the economy that they are in. This anlysis will inclue the ETL, of various relevant documents such as medal data, olympic perfromance and partipatyion data, into an organisaed warehouse where visualisations will stem from to answer the questions above.

0lypmic performance will be measures in medal counts of that partcular country, and economic perforamce indicated by the gross domestic product of that partcular country (GDP), the data used will stem from 2000 olympics to the current 2023 olympic games to provide a recent but comprhensive suite of data.

### Main questions we aim to answer:

1. Do Countries with a higher gdp perform bettter at the olympics. 
2. How does hosting the olympic games, affect the economy GDP.

### What kind of stakeholders would be interested in analysis:

- Government & Policy Makers: To guide investment in sports and assess economic impacts.

- National Olympic Committees (NOCs): For strategic resource allocation and performance evaluation.

- Sports Federations: To advocate for funding based on performance data.

- Economic Analysts: To assess the economic impact of hosting the Olympics.

- IOC & Event Organizers: To evaluate benefits of hosting and improve future bids.

- Sponsors & Investors: For data-driven sponsorship and marketing decisions.

- Media & Journalists: To provide insights and compelling stories to the public.

- Academics & Researchers: To explore the relationship between economy and sports performance.


![title](image.png)

# ETL Process 
Below we conduct the etl, process creating our different dimensions and then fact tables. once we do that we will then connect to a pgadmin remost server and from there build hierachies and so forth.

## Extraction

Since the data was just simplem, csv downlaod the extraction process will just be a series of code where we just load the data into the our staging area the jupyter notebook.

In [17]:
athlete_medal_data_raw = "AthleteMedalData.csv"
gdp_data_raw = "gdp data.csv"

## Transformation

In [4]:
import csv

def open_medal_athelte_data(data):
    """ This function will open the original athlete
        and medal raw CSV into our staging area, and then
        convert it into a Python pandas dataframe. """
    
    datalist = []
    with open(data, "rt") as raw_ath_med:
        reader = csv.reader(raw_ath_med)
        next(reader)  # Skip the header row
        
        for row in reader:
            # Ensuring we have the right number of columns
            if len(row) == 11:
                player_id, Name, Sex, Team, NOC, Year, Season, City, Sport, Event, Medal = row
                datalist.append((player_id, Name, Sex, Team, NOC, Year, Season, City, Sport, Event, Medal))
    
    return datalist

# Example usage
medal_athelte_data = open_medal_athelte_data(athlete_medal_data_raw)

In [5]:
medal_athelte_data_df = pd.DataFrame(medal_athelte_data, columns = ["player_id", "Name", "Sex", "Team", "NOC", "Year", "Season", "City", "Sport", "Event", "Medal"])
medal_athelte_data_df

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Aaby,M,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,Cornelia (-strannood),F,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...,...,...
252560,4986655,Sefora Ada,F,Equatorial Guinea,GEQ,2024,Summer,Paris,Athletics,Women's 100m,No medal
252561,9460001,Emanuela Liuzzi,F,Italy,ITA,2024,Summer,Paris,Wrestling,Women's Freestyle 50kg,No medal
252562,1972077,Isayah Boers,M,Netherlands,NED,2024,Summer,Paris,Athletics,4 x 400m Relay Mixed,Gold
252563,1899865,Kevin Staut,M,France,FRA,2024,Summer,Paris,Equestrian,Jumping Team,Bronze
252564,1924402,Charlie Carvell,M,Great Britain,GBR,2024,Summer,Paris,Athletics,Men's 4 x 400m Relay,Bronze

Now that we have loaded in the data, let us investigate if there is any missig entries for anyof the fields.

In [6]:
medal_athelte_data_df.describe()

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
count,252565,252565,252565,252565,252565,252565,252565,252565,252565,252565,252565
unique,235903,129992,2,1193,234,31,1,23,76,1041,4
top,1551050,John Jr.,M,United States,USA,2020,Summer,Tokyo,Athletics,Football Men's Football,No medal
freq,9,76,178544,16236,16774,15121,252565,22823,43294,5733,213747

In [7]:
medal_athelte_data_df.isna().sum()

player_id    0
Name         0
Sex          0
Team         0
NOC          0
Year         0
Season       0
City         0
Sport        0
Event        0
Medal        0
dtype: int64

For every element there is no missing entries.
We will move unto remove those columns where the, Medal type is "No medal" as our analysis will not be focused on collective particpation rates rather on the performance of those countries that particpated.

In [8]:
medal_athelte_data_df = medal_athelte_data_df[medal_athelte_data_df["Medal"] != "No medal"]

In [9]:

pd.set_option('display.max_rows', 350)  # Show all rows
pd.set_option('display.max_columns', 350)

medal_athelte_data_df.head(20)

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
3,3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
12,37,Arvo Aaltonen,M,Finland,FIN,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
13,38,Arvo Aaltonen,M,Finland,FIN,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
15,41,Paavo Aaltonen,M,Finland,FIN,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
16,42,Paavo Aaltonen,M,Finland,FIN,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
18,44,Paavo Aaltonen,M,Finland,FIN,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
22,48,Paavo Aaltonen,M,Finland,FIN,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
24,50,Paavo Aaltonen,M,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,Bronze
33,79,Ragnhild Aamodt,F,Norway,NOR,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold
37,86,Alf Aanning,M,Norway,NOR,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver
41,91,Willemien Aardenburg,F,Netherlands,NED,1988,Summer,Seoul,Hockey,Hockey Women's Hockey,Bronze
42,92,Pepijn Aardewijn,M,Netherlands,NED,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver
54,105,Ann Aarnes,F,Norway,NOR,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
55,106,Karl Aas,M,Norway,NOR,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver
60,117,Thomas Aas,M,Taifun,NOR,1912,Summer,Stockholm,Sailing,Sailing Mixed 8 metres,Gold
88,150,Ren Abadie,M,France,FRA,1956,Summer,Melbourne,Cycling,"Cycling Men's Road Race, Team",Gold
96,158,Giovanni Abagnale,M,Italy,ITA,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
97,159,Jos Gmez,M,Spain,ESP,2008,Summer,Beijing,Fencing,"Fencing Men's epee, Individual",Bronze
99,161,Patimat Abakarova,F,Azerbaijan,AZE,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze
101,163,Mariya (-tarabina),F,Russia,RUS,2008,Summer,Beijing,Athletics,Athletics Women's Javelin Throw,Silver

In [10]:
year_df  = medal_athelte_data_df[["Year","City"]]
year_df.drop_duplicates(subset=["Year", "City"], keep="first", inplace=True)

# adding a unique identifier to the newly made dataframe
year_df = year_df.reset_index()
year_df["Year_id"] = year_df.index
year_df = year_df.drop(columns=["index"])
year_df = year_df[["Year_id","Year","City"]]
year_df

C:\Users\Maria\AppData\Local\Temp\ipykernel_3680\2341456113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_df.drop_duplicates(subset=["Year", "City"], keep="first", inplace=True)

    Year_id  Year            City
0         0  1900           Paris
1         1  1920       Antwerpen
2         2  1948          London
3         3  1952        Helsinki
4         4  2008         Beijing
5         5  1988           Seoul
6         6  1996         Atlanta
7         7  1912       Stockholm
8         8  1956       Melbourne
9         9  2016  Rio de Janeiro
10       10  2012          London
11       11  2000          Sydney
12       12  2004          Athina
13       13  1980          Moskva
14       14  1984     Los Angeles
15       15  1992       Barcelona
16       16  1936          Berlin
17       17  1906          Athina
18       18  1960            Roma
19       19  1964           Tokyo
20       20  1972          Munich
21       21  1924           Paris
22       22  1904       St. Louis
23       23  1932     Los Angeles
24       24  1976        Montreal
25       25  1908          London
26       26  1928       Amsterdam
27       27  1968     Mexico City
28       28  1896          Athina
29       29  1956       Stockholm
30       30  2020           Tokyo
31       31  2024           Paris

In [11]:
year_df.to_csv('year_dim.csv', index=False)

The next part is to tranform the athelte medal data into an event dataframe

In [12]:
event_df = medal_athelte_data_df[["Sport","Event"]]   #creating a subset

event_df.drop_duplicates(subset=["Sport","Event"], keep="first", inplace=True)

event_df = event_df.reset_index()

event_df["Event_id"] = event_df.index

event_df = event_df.drop(columns=["index"])

event_df = event_df[["Event_id", "Sport","Event"]]

event_df

C:\Users\Maria\AppData\Local\Temp\ipykernel_3680\2166673902.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_df.drop_duplicates(subset=["Sport","Event"], keep="first", inplace=True)

      Event_id             Sport                                   Event
0            0        Tug-Of-War             Tug-Of-War Men's Tug-Of-War
1            1          Swimming  Swimming Men's 200 metres Breaststroke
2            2          Swimming  Swimming Men's 400 metres Breaststroke
3            3        Gymnastics  Gymnastics Men's Individual All-Around
4            4        Gymnastics        Gymnastics Men's Team All-Around
...        ...               ...                                     ...
1086      1086          Swimming             Mixed 4 x 100m Medley Relay
1087      1087          Swimming           Women's 4 x 100m Medley Relay
1088      1088          Swimming        Women's 4 x 200m Freestyle Relay
1089      1089        Water Polo                                   Women
1090      1090  Beach Volleyball                                   Women

[1091 rows x 3 columns]

Now let us create the event dimension csv.

In [13]:
event_df.to_csv("event_dim.csv", index= False)

### Opening and cleaning the gdp data

In [62]:
def opening_gdp_raw(data):
    """ this function will open the data for the gdp here we will 
        define the rows we need only from the years 2000 and up as
        that is what we will basinng our analysis upon."""
    x = []

    with open(data,"rt") as gdp_raw:
        gdp_raw_csv_read = csv.reader(gdp_raw, delimiter= ",")

        for line in range(5):         # skipping the first 5 rows due them containing metdata dat to the csv.
            next(gdp_raw_csv_read) 
        
        for column in gdp_raw_csv_read:
            Country_Name = column[0]
            Country_Code = column[1]
            year_2000 = column[44]
            year_2001 = column[45]
            year_2002 = column[46]
            year_2003 = column[47]
            year_2004 = column[48]
            year_2005 = column[49]
            year_2006 = column[50]
            year_2007 = column[51]
            year_2008 = column[52]
            year_2009 = column[53]
            year_2010 = column[54]
            year_2011 = column[55]
            year_2012 = column[56]
            year_2013 = column[57]
            year_2014 = column[58]
            year_2015 = column[59]
            year_2016 = column[60]
            year_2017 = column[61]
            year_2018 = column[62]
            year_2019 = column[63]
            year_2020 = column[64]
            year_2021 = column[65]
            year_2022 = column[66]
            year_2023 = column[67]
            
        

            # Append the relevant columns to the list as a tuple
            x.append((
                Country_Name,
                Country_Code,
                year_2000, year_2001, year_2002, year_2003, year_2004, year_2005,
                year_2006, year_2007, year_2008, year_2009, year_2010, year_2011,
                year_2012, year_2013, year_2014, year_2015, year_2016, year_2017,
                year_2018, year_2019, year_2020, year_2021, year_2022, year_2023
            ))

    
    return x 
gdp_raw_list =  opening_gdp_raw(gdp_data_raw)

Now that we have created out list of gdps for the years 2000 - 2023, the next step is to convert the data into a pandas dataframe.

In [63]:
gdp_raw_df = pd.DataFrame(gdp_raw_list, columns= ['Country_Name',
'Country_Code',
'year_2000', 'year_2001', 'year_2002', 'year_2003', 'year_2004', 'year_2005',
'year_2006', 'year_2007', 'year_2008', 'year_2009', 'year_2010', 'year_2011',
'year_2012', 'year_2013', 'year_2014', 'year_2015', 'year_2016', 'year_2017',
'year_2018', 'year_2019', 'year_2020', 'year_2021', 'year_2022', 'year_2023'])

In [64]:
gdp_raw_df.head()

,Country_Name,Country_Code,year_2000,year_2001,year_2002,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022,year_2023
0,Aruba,ABW,21026.16709,20911.19277,21375.26912,22050.58987,24105.52412,24978.22167,25832.92556,27665.29948,29011.63906,25740.77023,24452.58874,26043.15633,25611.17577,26514.86898,26940.26411,28419.26453,28449.71295,29329.08175,30918.48358,31902.80982,24008.12782,29127.75938,33300.83882,
1,Africa Eastern and Southern,AFE,715.1425073,633.4733816,633.5202007,819.986705,994.1938544,1130.168938,1235.847125,1379.746756,1439.240924,1404.535948,1622.684093,1757.998404,1724.204053,1696.35604,1678.55361,1498.805084,1346.301281,1485.753579,1558.612079,1508.486886,1356.088871,1545.956697,1642.432039,1672.505957
2,Afghanistan,AFG,180.1883694,142.9033644,182.1740382,199.6432265,221.8305307,254.115276,274.0153923,376.3182996,382.5338072,453.3873851,562.4992216,608.7388504,653.4174749,638.733181,626.5129291,566.8811297,523.053012,526.140801,492.090631,497.7414313,512.055098,355.7778264,352.6037331,
3,Africa Western and Central,AFW,527.2025617,539.2257488,627.0959153,706.4765613,850.0835822,1008.341766,1246.349454,1421.444644,1685.806936,1467.789174,1680.141063,1861.537303,1958.077403,2154.315084,2248.518426,1882.518808,1648.920269,1590.555785,1735.445833,1813.609146,1688.470871,1769.171853,1788.875347,1584.333285
4,Angola,AGO,556.884253,527.4641105,872.6576314,982.8055874,1254.696119,1900.723809,2597.963587,3121.348725,4081.717506,3123.698885,3586.663694,4608.155166,5083.826873,5061.349253,5011.984427,3217.33924,1809.709377,2439.374439,2540.508879,2191.347764,1450.905111,1927.474078,2933.484644,2309.52162

The data here is longitdal, let us change it into a wide format using the python function melt.

In [ ]:
gdp_raw_df_wide = pd.melt(gdp_raw_df ,id_vars=["Country_Name", "Country_Code"], 
                    var_name= "Year", value_name= "Value")
# we then also want to remove the year prefix..

gdp_raw_df_wide['Year'] = gdp_raw_df_wide['Year'].str.replace('year_', '')

                  Country_Name Country_Code  Year        Value
0                        Aruba          ABW  2000  21026.16709
1  Africa Eastern and Southern          AFE  2000  715.1425073
2                  Afghanistan          AFG  2000  180.1883694
3   Africa Western and Central          AFW  2000  527.2025617
4                       Angola          AGO  2000   556.884253

<!-- Next let us check if there is missing data, we know gdp and ecnomic indicators could be sensitive infromation to some governments and they may wish to not, disclose their gdp, as well as other circumstances such as country economic state and organisation not permitting them to accurtaltely report their data. 

An exeprt from the world bank where this data was retrieved from states: etc

from this analysis we will try a range of methods to try and see if we can impute values into this missing data. -->

In [70]:
gdp_raw_df_wide

                     Country_Name Country_Code  Year        Value
0                           Aruba          ABW  2000  21026.16709
1     Africa Eastern and Southern          AFE  2000  715.1425073
2                     Afghanistan          AFG  2000  180.1883694
3      Africa Western and Central          AFW  2000  527.2025617
4                          Angola          AGO  2000   556.884253
...                           ...          ...   ...          ...
6379                       Kosovo          XKX  2023  5943.125714
6380                  Yemen, Rep.          YEM  2023
6381                 South Africa          ZAF  2023  6253.161613
6382                       Zambia          ZMB  2023  1369.129365
6383                     Zimbabwe          ZWE  2023  1592.416574

[6384 rows x 4 columns]